body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  min-width: 344px;
  overflow: hidden;
  background-color: #010003;
  cursor: cell;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
::selection {
  background: transparent;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("background.svg") center center / cover no-repeat;
    z-index: -1;
}
section:nth-child(1) {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
}
section:nth-child(2) {
  flex-basis: 100%;
  align-items: stretch;
  display: flex;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("background2.svg") center center / cover no-repeat !important;
    z-index: -1;
  }
  section:nth-child(1) {
    flex-direction: column;
  }
  section:nth-child(2) {
    flex-direction: column;
    padding: 0 !important;
  }
  .left {
    display: none !important;
  }
  .right {
    flex-basis: 100% !important;
    padding: clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem) !important;
  }
  .right p {
    font-size: clamp(1rem, 1.0655rem + -0.3049vw, 0.875rem) !important;
  }
  #grid {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .left {
    max-width: 600px;
  }
  .right p {
    font-size: clamp(1rem, 0.75rem + 0.4vw, 1.125rem) !important;
  }
}
.content-wrapper-scrolling {
  padding-inline: 8px;
  min-width: fit-content;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 10s linear infinite;
}
.p-marquee:hover,
a:hover {
  filter: brightness(0.5);
  transition: filter 0.5s ease;
  cursor: cell;
}
.marquee-container:hover .content-wrapper-scrolling {
  animation-play-state: paused !important;
}
.p-marquee {
  font-size: clamp(1.25rem, 0.5945rem + 3.0488vw, 2.5rem);
  white-space: nowrap;
  transition: filter 0.5s ease;
  color: #550fff;
  font-weight: 900;
}
.content-wrapper-scrolling p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.twinkle {
  width: clamp(0.9375rem, 0.5607rem + 1.7523vw, 1.875rem);
  padding: 0 10px;
  animation: twinkle 3s infinite linear;
}
@keyframes twinkle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.marquee-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: default;
  background-color: #ddccff;
  border-top: 2px solid #550fff;
  z-index: 99999999999 !important;
  transition: height 0.5s ease; 
}
h1 {
  color: #550fff;
  font-size:60px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.carl-image {
  width: 100%;
  background: url("carl.jpeg") center center / cover no-repeat;
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 80%, 100% 100%, 15% 100%, 0 85%, 0% 20%);
  height: 600px;
  filter: grayscale(100%);
  width: 100%;
  margin: auto;
}
.left {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.right {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
}
.right img {
  max-width: 700px;
  margin-top: 100px;
}
#wrapper {
  width: 100%;
  margin: auto;
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 80%, 100% 100%, 15% 100%, 0 85%, 0% 20%);
  background: #ddccff;
  border: 8px solid #ddccff;
}
.icon {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
}
.icon img {
    width: 20px;
}
.icon p {
    font-size: 14px;
    color: #ddccff;
}
.right p {
    color: #ddccff;
    line-height: 1.5;
}
a {
  transition: filter 0.5s ease;
  text-decoration: none;
  margin-left: 25px;
}
#grid {
  position: absolute;
  left: 0;
  top: calc(50% - 100px);
  transform: translateY(-50%);
}
.additional-border {
  border: 5px solid #ddccff; 
}
